.sidebar {
  background-color: $color-primary;
  grid-row: 1 / -1;

  display: flex;
  justify-content: center;

  cursor: pointer;
}

.nav-btn {
  border-radius: 0;
  border: none;

  background-color: #fff;
  width: 4.5rem;
  height: 2px;
  margin-top: 4rem;

  cursor: inherit;

  &::after,
  &::before {
    content: "";
    display: block;
    background-color: #fff;
    width: 4.5rem;
    height: 2px;
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  &::after {
    transform: translateY(1.4rem);
  }
}
